@import '../utils/variables';

.header{
    margin-top: 10px;
    .card{
        display: flex;
        flex-direction: column;
        justify-content: left;
        gap: 5px;
        padding-bottom: 10px;
        margin: 10px 10px;
        border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
        border:solid 2px #41403E;
        h3{
            color : $h3-color;
            font-size: 28px;
            padding: 10px;
        }
        p {
            padding : 5px;
            font-size: 18 px;
        }
    }
}
