table{
    th{
        border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
        border:solid 2px #41403E;
        text-align: center;
        padding: 10px;
        vertical-align: middle;
    }
    td{
        border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
        border:solid 2px #41403E;
        text-align: center;
        padding: 10px;
        vertical-align: middle;
    }
}