@import '../styles/base/reset';

@import '../styles/components/buttons';
@import '../styles/components/checkbox';
@import '../styles/components/card';
@import '../styles/components/inputform';
@import '../styles/components/table';

@import '../styles/pages/body';
@import '../styles/pages/header';


@import '../styles/utils/variables';
@import '../styles/utils/fonts'